{% extends 'coronaapp/main.html'%}
{% load static%}

{% block title %}
  Facts Covi-19
{% endblock title %}

{% block content %}


<div class="container col-md-10" style="color: #fff;">
    <hr>
    <h6><b>January Timeline:</b></h6><br>
    <ul>
        <li>
            On January 31, the first 2 novel coronavirus cases in the UK, [18] the first 2 cases in Russia, [20] and the first case in Sweden and in Spain were reported. Canada reported its 4th case.
        </li>
        <li><hr>
            On January 30, the novel coronavirus total case count surpassed that for SARS (which affected 8,096 people worldwide).
        </li>
        <li><hr>
            On January 30, the World Health Organization declared the coronavirus outbreak a Global Public Health Emergency
        </li>
        <li><hr>
            On January 30 CDC confirmed the first US case of human to human transmission.
        </li>
        <li><hr>
            Germany, Japan, Vietnam and the United States have reported cases in patients who didn't personally visit China, but contracted the virus from someone else who had visited Wuhan, China[15]. These cases of human to human transmission are the most worrisome, according to the WHO.
        </li>
        <li><hr>
            Wuhan (the city where the virus originated) is the largest city in Central China, with a population of over 11 million people. The city, on January 23, shut down transport links. Following Wuhan lock down, the city of Huanggang was also placed in quarantine, and the city of Ezhou closed its train stations. This means than 18 million people have been placed in isolation. The World Health Organization (WHO) said cutting off a city as large as Wuhan is "unprecedented in public health history."[12] and praised China for its incredible commitment to isolate the virus and minimize the spread to other countries.
        </li>
   </ul>

   <br><br><br><br><h4><b>How contagious is the Wuhan Coronavirus?</b></h4>
            <br><p>The attack rate or transmissibility (how rapidly the disease spreads) of a virus is indicated by its reproductive number (Ro, pronounced R-nought or r-zero), which represents the average number of people to which a single infected person will transmit the virus.</p>
            <p>WHO's estimated (on Jan. 23) Ro to be between 1.4 and 2.5.</p>
            <p>Other studies have estimated a Ro between 3.6 and 4.0, and between 2.24 to 3.58.</p>
            <p>Preliminary studies had estimated Ro to be between 1.5 and 3.5.</p>
            <p>An outbreak with a reproductive number of below 1 will gradually disappear.</p>
            <p>For comparison, the Ro for the common flu is 1.3 and for SARS it was 2.0.</p>

    <br><br><br><br><h4><b>Age and conditions of Coronavirus cases</b></h4>

            <br><p>According to early estimates by China's National Health Commission (NHC), about 80% of those who died were over the age of 60 and 75% of them had pre-existing health conditions such as cardiovascular diseases and diabetes.</p>
            <br>According to the <a style="color: yellow;" href="https://www.who.int/docs/default-source/coronaviruse/situation-reports/20200127-sitrep-7-2019--ncov.pdf">WHO Situation Report</a> no. 7 issued on Jan. 27:
            <br><ul>
                <li><hr>
                    The median age of <b>cases</b> detected <b>outside</b> of China is 45 years, ranging from 2 to 74 years.
                </li>
                <li><hr>
                    71% of cases were male.
                </li>
            </ul>
            <br><p>A study of 138 hospitalized patients with NCIP found that the median age was 56 years (interquartile range, 42-68; range, 22-92 years) and 75 (54.3%) were men.</p>

            <p>The WHO, in its <a style="color: yellow;" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/myth-busters">Myth busters FAQs,</a> addresses the question: "Does the new coronavirus affect older people, or are younger people also susceptible?" by answering that:</p>

            <ul>
                <li><hr>
                    People of all ages can be infected by the novel coronavirus COVID-19.
                </li>
                <li><hr>
                    Older people, and people with pre-existing medical conditions (such as asthma, diabetes, heart disease) appear to be more vulnerable to becoming severely ill with the virus.
                </li>
            </ul>

            <br><p>Patient who died in the Philippines was a 44-year old male</p>
                <p>The patient who died in the Philippines on February 2, in what was the first death occurring outside of China, was a 44-year-old Chinese man from Wuhan who was admitted on Jan. 25 after experiencing fever, cough, and sore throat, before developing severe pneumonia. In the last few days, “the patient was stable and showed signs of improvement, however, the condition of the patient deteriorated within his last 24 hours resulting in his demise." according to the Philippine Department of Health.</p>
            <br><p>Serious Cases of 30 year old patients in France</p>

            <p>As of Jan. 29, according to French authorities, the conditions of the two earliest Paris cases had worsened and the patients were being treated in intensive care, according to French authorities. The patients have been described as a young couple aged 30 and 31 years old, both Chinese citizens from Wuhan who were asymptomatic when they arrived in Paris on January 18</p>

            <br><h4><b>Sources</b></h4>

            <br><p>1. <a style="color: #FFEEAA;" href="https://en.wikipedia.org/wiki/Template:COVID-19_pandemic_data#cite_note-JHU_ticker-6">https://en.wikipedia.org/wiki/Template:COVID-19_pandemic_data#cite_note-JHU_ticker-6</a></p>
            <p>2. <a style="color: #FFEEAA;" href="https://www.mygov.in/covid-19">https://www.mygov.in/covid-19</a></p>
            <p>3. <a style="color: #FFEEAA;" href="https://datahub.io/core/covid-19#resource-worldwide-aggregated">https://datahub.io/core/covid-19#resource-worldwide-aggregated</a></p>
            <p>4. <a style="color: #FFEEAA;" href="https://ourworldindata.org/coronavirus/country/india?country=~IND">https://ourworldindata.org/coronavirus/country/india?country=~IND</a></p>
            <br>




</div>

{% endblock content %}
